.container{
  width: auto;
}

.img-container{
  overflow: hidden;
}

.text{
  text-align: center;
  font-size: 2rem;
}

.main{
  margin: 0;
}

.image{
  background-size: 'cover';
  background-position: 'center';
  transition: '0.7s';
  width: 'auto';
  height: '600px';
}

.image:hover{
  transform: scale(1.05);
}